.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    width: 100%;
    padding: 1rem;
  }

  p {
    padding: 1rem;
  }
}

.control {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  svg:hover {
    cursor: pointer;
  }
}