.playlist {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 30%;

  border-bottom-right-radius: 50px;

  background: linear-gradient(145deg, #252929, #2c3130);
  box-shadow:  41px 41px 82px #151717,
  -41px -41px 82px #3e4544;

  overflow: auto;
}

.playlist-item {
  width: 90%;
  height: 100px;
  margin: 5% auto;

  border-radius: 20px;

  display: flex;
  align-items: center;

  img {
    border-radius: 20px;
    height: 100%;
  }

  div {
    width: 100%;
    text-align: center;
  }

  h2 {
    color: white;
  }
}

.playlist-item:hover {
  cursor: pointer;

  background: #292e2d;
  box-shadow: inset 19px 19px 37px #151717,
  inset -19px -19px 37px #3e4544;
}