* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #383d3c;
  font-family: 'Lato', sans-serif;
}

.app-body {
  width: 90%;
  margin-left: 10%;
}


@media screen and (max-width: 992px) {

}

@media screen and (max-width: 600px) {
  .app-body {
    width: 100%;
    margin-left: 0;
  }
}


@import "playlist";
@import "player";
@import "song";